@use '../core/' as *;
@use '../animations/' as *;


.main-content-index {
  max-width: none;
  width: 100%;
}

.search-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-top: 4rem;
  input {
    padding: 0.5ch 1ch;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 0.5ch;
    color: $text-primary;
    background-color: $color-primary;
  }
}

.race-section {
  display: grid;
  gap: 1rem;
  width: 100%;
  max-width: 1400px;
  margin: 4rem auto;
  padding: 0 $standard-padding;
}

.race-container {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: $color-primary;
  transition: background-color $theme-duration $theme-curve, transform 200ms ease-out;
  &:hover {
    transform: scale(1.03);
    cursor: pointer;
    h2 {
      text-decoration: underline;
    }
  }
  &:active {
    transform: scale(1);
  }
}

.race-header {
  img {
    height: 20px;
    width: 30px;
    object-fit: cover;
  }
  p {
    color: rgb(185, 185, 185);
  }
}

.country-name {
  display: flex;
  align-items: center;
  gap: 1ch;
}

.race-map {
  height: 200px;
  width: 200px;
}

:root[data-theme="light"] {
  .search-input {
    input {
      padding: 0.5ch 1ch;
      border-color: grey;
      border-radius: 0.5ch;
      color: $text-primary;
      background-color: rgb(221, 221, 221);
      &::placeholder {
        color: $text-muted;
      }
    }
  }
  .race-container {
    color: $text-muted-inverse;
    box-shadow: (3px 3px 3px rgba(0, 0, 0, 0.2));
    h2 {
      color: $text-primary-inverse;
    }
  }
  .race-header p {
    color: $text-primary-inverse;
  }
  .icon {
    stroke: $text-primary-inverse;
  }
}

@media (min-width: 992px) {
  .race-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}