@use '../core/' as *;
@use '../animations/' as *;

.main-content-index {
  max-width: none;
  width: 100%;
}

.search-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-top: 4rem;
  input {
    padding: 0.5ch 1ch;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 0.5ch;
    color: $text-primary;
    background-color: $color-primary;
  }
  input:focus-visible {
    outline-color: white;
  }
}

:root[data-theme="light"] {
  .search-input {
    input {
      padding: 0.5ch 1ch;
      border-color: grey;
      border-radius: 0.5ch;
      color: $text-primary;
      background-color: rgb(221, 221, 221);
      &::placeholder {
        color: $text-muted;
      }
    }
  }
}

