@use '../core/' as *;

footer {
  padding: 1rem $standard-padding;
  background-color: $color-secondary;
  a {
    text-decoration: underline;
  }
}

.footer-content {
  grid-template-columns: 1fr;
  gap: 2rem;
  ul {
    display: grid;
    place-items: center;
    gap: 2rem;
  }
}

.theme-button {
  justify-self: center;
  width: fit-content;
  border-radius: 0.5rem;
  .icon {
    width: 2em;
  }
}

:root[data-theme="light"] {
  footer {
    color: $text-primary-inverse;
    background-color: $color-primary;
  }
}

@media (min-width: 800px) {
  .footer-content {
    grid-template-columns: 3fr 1fr;
    ul {
      grid-template-columns: repeat(4, 1fr);
    }
  }  
}