@use '../core/' as *;

header {
  padding: 1rem $standard-padding;
  color: $text-primary;
  background-color: $color-primary;
  font-size: 1.25em;
  font-weight: 800;
}

:root[data-theme="light"] {
  header {
    color: $text-primary-inverse;
  }
}